version: "3.9"

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

  django:
    build: .
    env_file: .env
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_data:/vol/static
      - media_data:/vol/media
    depends_on:
      - db
    networks:
      - backend

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - static_data:/vol/static
      - media_data:/vol/media
    depends_on:
      - django
    networks:
      - backend

volumes:
  postgres_data:
  static_data:
  media_data:

networks:
  backend:
